<div class="login-wrapper">
    <div class="panel">
        <button type="button" [routerLink]="['/']">Home</button>
    </div>
    <div id="login-box">
        <div class="login">
            <h1>Employee Registration</h1>
            <h2>{{employeeData}}</h2>
            <input type="text" #firstName placeholder="FirstName" />
            <input type="text" #lastName placeholder="LastName" />
            <select class="select-box" #gender>
                <option>Male</option>
                <option>Female</option>
                <option>Others</option>
            </select>
            <input type="date" #dob/>
            <input type="text" #department placeholder="Department" />
            <input type="button" (click)="saveEmployeeData(firstName.value, lastName.value, gender.value, dob.value, department.value)" value="register Employee" />
        </div>
    </div>
</div>