<div class="main-screen">
    <div class="left-screen">
        <img src="https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825_1280.jpg">
    </div>
    <div class="right-screen">
        <nav>
            <div class="button-entry">
                <button class="empEntry" [routerLink]="['/newEntry']">Employee Entry</button>
            </div>
            <div class="button-list">
                <button class="empList"[routerLink]="['/listEmployees']">Employee List</button>
            </div>
        </nav>
    </div>
</div>